<app>
  <div class="app-header">
    <img src="https://riot.js.org/img/logo/riot-logo.svg" alt="Riot.js logo" class="logo">
  </div>
  <ul>
    <li>ランダム関数:{ Math.random() }</li>
    <li>未定義チェック:{ value || 'Undefined' }</li>
    <li>関数の実行:(コンソールを開いて確認してください)
      { (() => console.log('Hello Riot.js!'))() }
    </li>
    <li>三項演算子{ props.title.length > 140 ? 'Message is too long!' : 'GooD👍' }</li>
  </ul>
</app>
